[submodule "server-side"]
	path = server-side
	url = https://github.com/ahossamdev/apt-server-side.git
[submodule "client-side"]
	path = client-side
	url = https://github.com/ahossamdev/apt-client-side.git
